In [1]:
import pandas as pd

df = pd.read_csv('/media/nespina/Elements/maestriacd/austral/labo_3/src/prediccion_tn_por_cliente.csv')

In [2]:
df.head()

   product_id           tn
0       20001  1373.414967
1       20002   958.390012
2       20003   706.461069
3       20004   505.657139
4       20005   550.054796

In [3]:
df['tn'] = df['tn'].apply(lambda x: 0 if pd.isnull(x) or x < 0 else x)

In [4]:
df.to_csv('exported_tn_por_cliente.csv', index=False)